@use '../../styles/variables';

.magazine-section {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media (max-width: 312px) {
            padding-inline: 0.5rem;
        }

        iframe {
            margin-block-start: 4rem;
            width: 100% !important;
            max-width: 900px;
        }

        h2 {
            // transition: clip-path 300ms ease;
        }
    }
}
