*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
}

img {
  width: 100%;
}
img.icon {
  width: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

section,
main,
header,
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .wrapper,
main .wrapper,
header .wrapper,
footer .wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 8rem 4rem;
}
section .wrapper.wrapper-narrow,
main .wrapper.wrapper-narrow,
header .wrapper.wrapper-narrow,
footer .wrapper.wrapper-narrow {
  padding: 8rem 8rem;
}
@media (max-width: 1120px) {
  section .wrapper.wrapper-narrow,
  main .wrapper.wrapper-narrow,
  header .wrapper.wrapper-narrow,
  footer .wrapper.wrapper-narrow {
    padding-inline: 6rem;
  }
}
@media (max-width: 1024px) {
  section .wrapper.wrapper-narrow,
  main .wrapper.wrapper-narrow,
  header .wrapper.wrapper-narrow,
  footer .wrapper.wrapper-narrow {
    padding-inline: 4rem;
  }
}
@media (max-width: 700px) {
  section .wrapper,
  main .wrapper,
  header .wrapper,
  footer .wrapper {
    padding-inline: 2rem;
  }
  section .wrapper.wrapper-narrow,
  main .wrapper.wrapper-narrow,
  header .wrapper.wrapper-narrow,
  footer .wrapper.wrapper-narrow {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  section .wrapper,
  main .wrapper,
  header .wrapper,
  footer .wrapper {
    padding-inline: 1rem;
  }
  section .wrapper.wrapper-narrow,
  main .wrapper.wrapper-narrow,
  header .wrapper.wrapper-narrow,
  footer .wrapper.wrapper-narrow {
    padding-inline: 1rem;
  }
}

@font-face {
  font-family: boost;
  src: url("../Golden Hopes.otf");
}
h1 {
  font-size: 96px;
  line-height: 105.6px;
  color: white;
  font-weight: 400;
}
h1 span {
  font-family: boost;
  font-size: 180px;
  vertical-align: bottom;
  width: -moz-max-content;
  width: max-content;
  color: #b4780a;
}
@media (max-width: 800px) {
  h1 {
    font-size: 64px;
    line-height: 1.1;
    max-width: 14ch !important;
  }
  h1 span {
    font-size: 120px;
    margin-inline: 0.25rem;
    line-height: 0.7;
  }
}

@media (max-width: 550px) {
  #home h1 {
    font-size: 48px;
    line-height: 52.8px;
  }
  #home h1 span {
    font-size: 96px;
  }
}

h2 {
  font-size: 48px;
  line-height: 62.4px !important;
  color: #081841;
  font-weight: 400;
}
h2 span {
  font-family: boost;
  font-size: 70px;
  vertical-align: bottom;
  color: #b4780a;
  float: center;
}
@media (max-width: 800px) {
  h2 {
    font-size: 40px;
    line-height: 56px !important;
  }
  h2 span {
    font-size: 55px;
    margin-inline: 0.25rem;
  }
}

h3 {
  font-size: 32px;
  line-height: 38.4px;
  color: #081841;
  font-weight: 400;
}
h3 span {
  font-family: boost;
  font-size: 60px;
  vertical-align: bottom;
  color: #b4780a;
}
@media (max-width: 800px) {
  h3 {
    font-size: 24px;
    line-height: 31.2px;
  }
  h3 span {
    font-size: 50px;
    margin-inline: 0.25rem;
  }
}

p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
}
p:not(.tag,
.no-cap,
.contact-section p,
footer p,
.search-by-genre-section p,
.search-by-team-section p,
.bell-section p,
.seekers-section p,
.pastoral-section p,
.mike-section p,
.rooms-for-hire-section p,
.involved-section p,
.how-to-donate-section p,
.services-section p)::first-letter {
  -webkit-initial-letter: 2;
  -moz-initial-letter: 2;
  initial-letter: 2;
  margin-inline: 0rem 0.3rem;
  padding-inline: 0rem 0.2rem;
}

@-moz-document url-prefix() {
  p:not(.tag,
  .no-cap,
  .contact-section p,
  footer p,
  .search-by-genre-section p,
  .search-by-team-section p,
  .bell-section p,
  .seekers-section p,
  .pastoral-section p,
  .mike-section p,
  .rooms-for-hire-section p,
  .involved-section p,
  .how-to-donate-section p,
  .services-section p)::first-letter {
    -webkit-initial-letter: 2;
    -moz-initial-letter: 2;
    initial-letter: 2;
    margin-inline: 0rem;
    padding-inline: 0rem;
  }
}
button {
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
button svg,
button img {
  margin-inline-end: -0.25rem;
  width: 32px;
}

body {
  position: relative;
}

header {
  position: absolute;
  background-color: transparent;
}
header .header-wrapper {
  padding: 0.5rem 4rem;
  display: flex;
  width: 100%;
  max-width: 1440px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid white;
}
@media (max-width: 700px) {
  header .header-wrapper {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  header .header-wrapper {
    padding-inline: 1rem;
  }
}
header .header-wrapper .logo-container img {
  width: 3rem;
}
header .header-wrapper nav {
  min-width: 80%;
}
header .header-wrapper nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
header .header-wrapper nav ul #pencil-texture {
  display: none;
}
header .header-wrapper nav ul a:nth-child(10) {
  display: none;
}
header .header-wrapper nav ul a:nth-child(11) {
  display: none;
}
header .header-wrapper nav ul a li {
  color: white;
}
header .header-wrapper nav ul .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
header .header-wrapper nav ul .buttons button {
  background-color: white;
  color: black;
  border: 1px solid white;
  padding: 0.75rem 2rem;
  border-radius: 4rem;
}
header .header-wrapper nav ul a {
  font-size: 16px !important;
}
header .header-wrapper nav ul a:last-child button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
header .header-wrapper nav img:not(.cross) {
  width: 2rem;
  display: none;
}
header .header-wrapper nav .cross {
  width: 2rem;
  display: none;
}
@media (max-width: 1200px) {
  header .header-wrapper nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    min-width: auto;
  }
  header .header-wrapper nav ul {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    margin-block-start: 2rem;
    padding: 2rem;
    background-color: rgba(57, 57, 57, 0.9803921569);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 300px;
    height: 100vh;
    justify-content: center;
    width: 100vw;
    align-items: center;
    left: 0;
    top: -2rem;
    transform: translateX(100%);
    transition: transform 500ms ease;
    z-index: 100000;
    gap: 1.5rem;
  }
  header .header-wrapper nav ul #pencil-texture {
    display: block;
    width: 100%;
    position: absolute;
    opacity: 0.075;
    z-index: -1;
  }
  header .header-wrapper nav ul a:nth-child(10) {
    display: block;
  }
  header .header-wrapper nav ul a:nth-child(11) {
    display: block;
  }
  header .header-wrapper nav ul a li {
    color: white;
  }
  header .header-wrapper nav ul .buttons {
    flex-direction: column;
    align-items: center;
    display: none;
  }
  header .header-wrapper nav ul.active {
    transform: translateX(0%);
    transition: transform 500ms ease;
  }
  header .header-wrapper nav ul a:has(button) {
    min-width: 250px;
  }
  header .header-wrapper nav ul a:has(button) button {
    width: 100%;
    display: block;
  }
  header .header-wrapper nav ul li {
    font-size: 24px;
  }
  header .header-wrapper nav img:not(.cross) {
    display: block;
    cursor: pointer;
  }
  header .header-wrapper nav .cross {
    position: absolute;
    display: block;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
  }
}

main {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8039215686), rgba(0, 0, 0, 0) 60%), linear-gradient(to bottom, rgba(0, 0, 0, 0.368627451), rgba(0, 0, 0, 0) 50%), url(../../public/images/contact-hero.webp);
  background-size: cover;
  background-position: center;
}
main .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-block-end: 2rem;
  height: 95vh;
  max-height: 1000px;
}
main .wrapper h1 {
  max-width: 101%;
  width: 101%;
  transition: -webkit-clip-path 500ms ease;
  transition: clip-path 500ms ease;
  transition: clip-path 500ms ease, -webkit-clip-path 500ms ease;
}
main .wrapper .buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-block: 2rem 0;
}
main .wrapper .buttons a:nth-child(2) button {
  background-color: transparent;
  color: white;
}
main .wrapper .buttons a button {
  background-color: white;
  color: black;
  border: 1px solid white;
  padding: 0.75rem 2rem;
  border-radius: 4rem;
}

.history-section .wrapper {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  gap: 6rem;
  position: relative;
}
.history-section .wrapper .pencil {
  width: 225px;
  opacity: 0.1;
  bottom: auto;
}
.history-section .wrapper .history-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4rem;
}
.history-section .wrapper .history-left h2 {
  max-width: 20ch;
}
.history-section .wrapper .history-left .history-content {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.history-section .wrapper .history-left .history-content .history-text p {
  max-width: 32ch;
  margin-block: 0rem 2rem;
}
.history-section .wrapper .history-left .history-content .history-text button {
  color: black;
}
.history-section .wrapper .history-right img {
  height: calc(100% + 16rem);
  width: calc(100% + 4rem);
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: -8rem;
  margin-right: -4rem;
}
@media (max-width: 900px) {
  .history-section .wrapper .history-left {
    gap: 4rem;
  }
  .history-section .wrapper .history-left .history-content {
    gap: 2rem;
  }
}
@media (max-width: 550px) {
  .history-section .wrapper {
    grid-template-columns: 1fr;
  }
  .history-section .wrapper .history-right img {
    margin-top: 0 !important;
    margin-inline: -2rem !important;
    height: auto;
  }
}

.history-of-the-church-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  padding-block-start: 0;
  position: relative;
  z-index: 1;
}
.history-of-the-church-section .wrapper > img:first-child {
  position: absolute;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  opacity: 0.1;
  mix-blend-mode: hard-light;
  bottom: 0;
  height: 100%;
  top: 0;
  object-fit: cover;
}
.history-of-the-church-section .wrapper > img:not(:first-child) {
  margin-block-start: 4rem;
}
.history-of-the-church-section .wrapper .history-of-the-church-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.history-of-the-church-section .wrapper .history-of-the-church-content h3 {
  margin: 0;
  margin-block: 2rem 3rem;
}
.history-of-the-church-section .wrapper .history-of-the-church-content p::first-letter {
  -webkit-initial-letter: 2;
  initial-letter: 2;
  margin-inline: 0rem 0.3rem;
  padding-inline: 0rem 0.2rem;
}
.history-of-the-church-section .wrapper .history-of-the-church-content p:not(:first-of-type) {
  margin-block-start: 2rem;
}
@media (max-width: 700px) {
  .history-of-the-church-section .wrapper .history-of-the-church-content {
    gap: 2rem;
  }
}
@media (max-width: 500px) {
  .history-of-the-church-section .wrapper .history-of-the-church-content {
    gap: 1.5rem;
  }
}

@-moz-document url-prefix() {
  p::first-letter {
    -webkit-initial-letter: 2;
    -moz-initial-letter: 2;
    initial-letter: 2;
    margin-inline: 0rem !important;
    padding-inline: 0rem !important;
  }
}
.magazine-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 312px) {
  .magazine-section .wrapper {
    padding-inline: 0.5rem;
  }
}
.magazine-section .wrapper iframe {
  margin-block-start: 4rem;
  width: 100% !important;
  max-width: 900px;
}
.how-to-donate-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  max-width: 1200px;
}
.how-to-donate-section .wrapper .how-to-donate-titles h2 {
  max-width: 28ch;
  text-align: center;
}
.how-to-donate-section .wrapper .how-to-donate-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
}
.how-to-donate-section .wrapper .how-to-donate-grid .how-to-donate-card img {
  width: 2rem;
}
.how-to-donate-section .wrapper .how-to-donate-grid .how-to-donate-card h3 {
  margin-block: 1rem 1.5rem;
}
@media (max-width: 900px) {
  .how-to-donate-section .wrapper .how-to-donate-grid {
    gap: 2rem;
  }
}
@media (max-width: 700px) {
  .how-to-donate-section .wrapper .how-to-donate-grid {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}

.donate-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  position: relative;
}
.donate-section .wrapper dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 800px;
  z-index: 10;
}
.donate-section .wrapper dialog button {
  padding: 0;
  background-color: #393939;
  position: absolute;
  padding: 0.5rem;
  top: 2rem;
  right: 2rem;
}
.donate-section .wrapper dialog button img {
  width: 2rem;
}
.donate-section .wrapper > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
  z-index: -1;
  width: 100vw;
}
.donate-section .wrapper h2 {
  max-width: 32ch;
  text-align: center;
}
.donate-section .wrapper button {
  background-color: #5d84e0;
  padding: 0.75rem 4rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-radius: 4rem;
  color: black;
  font-weight: 400;
}
.donate-section .wrapper button img {
  width: 4rem;
}

.involved-section {
  background-image: url(../../public/images/involved-image.webp);
  background-size: cover;
}
.involved-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-block: 20rem !important;
}
.involved-section .wrapper h2 {
  color: white;
}
.involved-section .wrapper p {
  color: white;
  max-width: 40ch;
  margin-block: 2rem 3rem;
}
@media (max-width: 708px) {
  .involved-section {
    background-position: center;
  }
}

footer .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-end: 4rem;
}
footer .wrapper .footer-top {
  padding-block-end: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
footer .wrapper .footer-top .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
footer .wrapper .footer-top ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  align-items: center;
  gap: 2rem;
}
footer .wrapper .footer-top ul a {
  color: black;
}
footer .wrapper .footer-bottom {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-block-start: 4rem;
  border-top: 0.5px solid black;
}
footer .wrapper .footer-bottom #open-modal {
  cursor: pointer !important;
  text-decoration: underline;
}
footer .wrapper .footer-bottom a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  color: black;
}
footer .wrapper .footer-bottom a img {
  width: 8rem;
}
@media (max-width: 500px) {
  footer .wrapper .footer-bottom {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
  footer .wrapper .footer-bottom a {
    align-items: center;
  }
  footer .wrapper .footer-bottom p {
    text-align: center;
  }
}
@media (max-width: 600px) {
  footer .wrapper .footer-top ul {
    flex-direction: column;
  }
  footer .wrapper .footer-bottom {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
  footer .wrapper .footer-bottom a {
    align-items: center;
  }
  footer .wrapper .footer-bottom p {
    text-align: center;
  }
}

.pencil {
  opacity: 0.075;
  position: absolute;
  width: 60%;
  left: 0;
  bottom: 0;
  z-index: -1;
}

html,
body {
  overflow-x: hidden;
}

#back-to-top-button {
  position: fixed;
  padding: 1rem;
  background-color: white;
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-content: center;
  right: 2rem;
  bottom: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  z-index: 1000000000 !important;
  transition: scale 300ms ease;
}
#back-to-top-button:hover {
  scale: 1.05;
  transition: scale 300ms ease;
}
#back-to-top-button img {
  width: 1.5rem;
}/*# sourceMappingURL=style.css.map */