*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
}

img {
  width: 100%;
}
img.icon {
  width: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

section,
main,
header,
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .wrapper,
main .wrapper,
header .wrapper,
footer .wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 8rem 4rem;
}
section .wrapper.wrapper-narrow,
main .wrapper.wrapper-narrow,
header .wrapper.wrapper-narrow,
footer .wrapper.wrapper-narrow {
  padding: 8rem 8rem;
}
@media (max-width: 1120px) {
  section .wrapper.wrapper-narrow,
  main .wrapper.wrapper-narrow,
  header .wrapper.wrapper-narrow,
  footer .wrapper.wrapper-narrow {
    padding-inline: 6rem;
  }
}
@media (max-width: 1024px) {
  section .wrapper.wrapper-narrow,
  main .wrapper.wrapper-narrow,
  header .wrapper.wrapper-narrow,
  footer .wrapper.wrapper-narrow {
    padding-inline: 4rem;
  }
}
@media (max-width: 700px) {
  section .wrapper,
  main .wrapper,
  header .wrapper,
  footer .wrapper {
    padding-inline: 2rem;
  }
  section .wrapper.wrapper-narrow,
  main .wrapper.wrapper-narrow,
  header .wrapper.wrapper-narrow,
  footer .wrapper.wrapper-narrow {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  section .wrapper,
  main .wrapper,
  header .wrapper,
  footer .wrapper {
    padding-inline: 1rem;
  }
  section .wrapper.wrapper-narrow,
  main .wrapper.wrapper-narrow,
  header .wrapper.wrapper-narrow,
  footer .wrapper.wrapper-narrow {
    padding-inline: 1rem;
  }
}

@font-face {
  font-family: boost;
  src: url("../Golden Hopes.otf");
}
h1 {
  font-size: 96px;
  line-height: 105.6px;
  color: white;
  font-weight: 400;
}
h1 span {
  font-family: boost;
  font-size: 180px;
  vertical-align: bottom;
  width: -moz-max-content;
  width: max-content;
  color: #b4780a;
}
@media (max-width: 800px) {
  h1 {
    font-size: 64px;
    line-height: 70.4px;
    max-width: 14ch !important;
  }
  h1 span {
    font-size: 120px;
    margin-inline: 0.25rem;
  }
}
@media (max-width: 550px) {
  h1 {
    font-size: 40px;
    line-height: 44px;
  }
  h1 span {
    font-size: 80px;
  }
}

h2 {
  font-size: 48px;
  line-height: 62.4px !important;
  color: #081841;
  font-weight: 400;
}
h2 span {
  font-family: boost;
  font-size: 70px;
  vertical-align: bottom;
  color: #b4780a;
  float: center;
}
@media (max-width: 800px) {
  h2 {
    font-size: 40px;
    line-height: 56px !important;
  }
  h2 span {
    font-size: 55px;
    margin-inline: 0.25rem;
  }
}

h3 {
  font-size: 32px;
  line-height: 38.4px;
  color: #081841;
  font-weight: 400;
}
h3 span {
  font-family: boost;
  font-size: 60px;
  vertical-align: bottom;
  color: #b4780a;
}
@media (max-width: 800px) {
  h3 {
    font-size: 24px;
    line-height: 31.2px;
  }
  h3 span {
    font-size: 50px;
    margin-inline: 0.25rem;
  }
}

p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 200;
}

button {
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
button svg {
  margin-inline-end: -0.25rem;
  width: 32px;
}

body {
  position: relative;
}

header {
  position: absolute;
  background-color: transparent;
}
header .header-wrapper {
  padding: 1.5rem 4rem;
  display: flex;
  width: 100%;
  max-width: 1440px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid white;
}
@media (max-width: 700px) {
  header .header-wrapper {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  header .header-wrapper {
    padding-inline: 1rem;
  }
}
header .header-wrapper nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
header .header-wrapper nav ul li {
  color: white;
}
header .header-wrapper nav ul button {
  background-color: white;
  color: black;
  border: 2px solid white;
  padding: 0.75rem 2rem;
  border-radius: 4rem;
}
header .header-wrapper nav ul a:nth-child(6) {
  margin-inline-end: -1rem;
}
header .header-wrapper nav ul a:last-child button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}
header .header-wrapper nav img:not(.cross) {
  width: 2rem;
  display: none;
}
header .header-wrapper nav .cross {
  width: 2rem;
  display: none;
}
@media (max-width: 1024px) {
  header .header-wrapper nav {
    display: flex;
    flex-direction: column;
  }
  header .header-wrapper nav ul {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    margin-block-start: 2rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.3921568627);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 300px;
    height: 100vh;
    justify-content: center;
    width: 100vw;
    left: 0;
    top: -2rem;
    transform: translateX(100%);
    transition: transform 500ms ease;
  }
  header .header-wrapper nav ul.active {
    transform: translateX(0%);
    transition: transform 500ms ease;
  }
  header .header-wrapper nav ul a:has(button) {
    min-width: 250px;
  }
  header .header-wrapper nav ul a:has(button) button {
    width: 100%;
    display: block;
  }
  header .header-wrapper nav ul li {
    font-size: 24px;
  }
  header .header-wrapper nav img:not(.cross) {
    display: block;
    cursor: pointer;
  }
  header .header-wrapper nav .cross {
    position: absolute;
    display: block;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
  }
}

main {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8039215686), rgba(0, 0, 0, 0) 60%), url(../../public/images/contact-hero.png);
  background-size: cover;
  background-position: center;
}
main .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-block-end: 2rem;
  height: 95vh;
  max-height: 1000px;
}
main .wrapper p {
  color: white;
  align-self: flex-end;
  max-width: 52%;
  margin-block-end: -6rem;
}
main .wrapper h1 {
  max-width: 101%;
  width: 101%;
}

.magazine-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 312px) {
  .magazine-section .wrapper {
    padding-inline: 0.5rem;
  }
}
.magazine-section .wrapper iframe {
  margin-block-start: 4rem;
  width: 100% !important;
  max-width: 900px;
}

.how-to-donate-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  max-width: 1200px;
}
.how-to-donate-section .wrapper .how-to-donate-titles h2 {
  max-width: 28ch;
  text-align: center;
}
.how-to-donate-section .wrapper .how-to-donate-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
}
.how-to-donate-section .wrapper .how-to-donate-grid .how-to-donate-card img {
  width: 2rem;
}
.how-to-donate-section .wrapper .how-to-donate-grid .how-to-donate-card h3 {
  margin-block: 1rem 1.5rem;
}
@media (max-width: 900px) {
  .how-to-donate-section .wrapper .how-to-donate-grid {
    gap: 2rem;
  }
}
@media (max-width: 700px) {
  .how-to-donate-section .wrapper .how-to-donate-grid {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}

.donate-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  position: relative;
}
.donate-section .wrapper > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
  z-index: -1;
  width: 100vw;
}
.donate-section .wrapper h2 {
  max-width: 32ch;
  text-align: center;
}
.donate-section .wrapper button {
  background-color: #f8a441;
  padding: 0.75rem 4rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-radius: 4rem;
  color: black;
  font-weight: 400;
}
.donate-section .wrapper button img {
  width: 4rem;
}

.involved-section {
  background-image: url(../../public/images/involved-image.png);
  background-size: cover;
}
.involved-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-block: 20rem !important;
}
.involved-section .wrapper h2 {
  color: white;
}
.involved-section .wrapper p {
  color: white;
  max-width: 40ch;
  margin-block: 2rem 3rem;
}
@media (max-width: 708px) {
  .involved-section {
    background-position: center;
  }
}

footer .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-end: 4rem;
}
footer .wrapper .footer-top {
  padding-block-end: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
footer .wrapper .footer-top .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
footer .wrapper .footer-top ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
footer .wrapper .footer-top ul a {
  color: black;
}
footer .wrapper .footer-bottom {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-block-start: 4rem;
  border-top: 0.5px solid black;
}
footer .wrapper .footer-bottom a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  color: black;
}
footer .wrapper .footer-bottom a img {
  width: 8rem;
}
@media (max-width: 500px) {
  footer .wrapper .footer-bottom {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
  footer .wrapper .footer-bottom a {
    align-items: center;
  }
  footer .wrapper .footer-bottom p {
    text-align: center;
  }
}
@media (max-width: 600px) {
  footer .wrapper .footer-top ul {
    flex-direction: column;
  }
  footer .wrapper .footer-bottom {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
  footer .wrapper .footer-bottom a {
    align-items: center;
  }
  footer .wrapper .footer-bottom p {
    text-align: center;
  }
}

.pencil {
  opacity: 0.075;
  position: absolute;
  width: 60%;
  left: 0;
  bottom: 0;
  z-index: -1;
}

html,
body {
  overflow-x: hidden;
}/*# sourceMappingURL=style.css.map */