@use '../../styles/variables';
@use '../../styles/reset';
@use '../../styles/fonts';
@use '../../styles/button';
@use '../../styles/header';
@use './main';
@use './magazine';
@use './how-to-donate';
@use '../../styles/footer';

.pencil {
    opacity: 0.075;
    position: absolute;
    width: 60%;
    left: 0;
    bottom: 0;
    z-index: -1;
}
html {
    overflow-x: hidden;
}
