@use '../../styles/variables';

.mike-section {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6rem;
        max-width: 1200px;
        .pencil {
            opacity: 0.05;
            width: 100%;
            inset: 0;
            height: 100%;
            object-fit: cover;
        }
        .mike-titles {
            h2 {
                text-align: center;
                max-width: 12ch;
            }
        }
        .mike-content {
            display: flex;
            align-items: center;
            gap: 4rem;

            .mike-left {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .firstP {
                    margin-block-start: 2rem;
                }
                .lastP {
                    margin-block-end: 2rem;
                }

                .list {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 1.5rem;
                    margin-block: 2rem;

                    .list-item {
                        p {
                            font-weight: 500;
                        }
                    }
                }

                & > p:last-of-type {
                    font-weight: 600;
                }
                button {
                    color: black;
                    margin-block-start: 2rem;
                }
            }
        }
    }
    @media (max-width: 900px) {
        .wrapper {
            .mike-content {
                flex-direction: column-reverse;
                align-items: flex-start;
                width: 100%;
                max-width: 100%;

                .mike-left,
                .mike-right {
                    width: 100%;

                    h3 {
                        max-width: 26ch;
                    }

                    p {
                        max-width: 40ch;
                    }
                }
            }
            .mike-bottom {
                grid-template-columns: 1fr;
                width: 100%;

                h3 {
                    max-width: 26ch;
                }

                p {
                    max-width: 40ch;
                }
                .mike-bottom-left,
                .mike-bottom-right {
                    width: 100%;
                    max-width: 100%;
                    align-self: flex-start;
                }
            }
        }
    }
}
