@use '../../styles/variables';

.mike-section {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6rem;
        max-width: 1200px;
        .pencil {
            opacity: 0.05;
            width: 100%;
            inset: 0;
            height: 100%;
            object-fit: cover;
        }
        .mike-titles {
            h2 {
                text-align: center;
                max-width: 32ch;
            }
        }
        .mike-content {
            display: flex;
            align-items: center;
            gap: 4rem;

            .mike-left {
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                p:not(:nth-child(3)) {
                    margin-block: 1.5rem 2rem;
                }
                p:last-of-type {
                    font-weight: 600;
                }
                button {
                    color: black;
                    margin-block-start: 2rem;
                }
            }
        }
        .mike-bottom {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            gap: 4rem;
            .mike-bottom-left {
                h3 {
                    font-family: 'Playfair Display', serif;
                }
            }

            .mike-bottom-right {
                p {
                    margin-block-start: 2rem;
                }
            }
        }
    }
}
