@use "../../styles/variables";

.music-cards-section {
    .wrapper {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:4rem;
        position:relative;

        .pencil {
            opacity:0.05;
            width:100%;
            inset:0;
        }

        .music-card {
            h3 {
                margin-block:1rem 1.5rem;
            }
        }
    }
    @media (max-width:900px) {
        .wrapper {
            gap:2rem;
        }
    }
    @media (max-width:700px) {
        .wrapper {
            grid-template-columns: 1fr;
            gap:4rem;
        }
    }
}