@use "../../styles/variables";

.music-cards-section {
    .wrapper {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:4rem;

        .music-card {
            h3 {
                margin-block:1rem 1.5rem;
            }
        }
    }
}