@use '../../styles/variables';

.search-by-genre-section {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 6rem;

        .search-by-genre-titles {
            h2 {
                max-width: 32ch;
            }
        }

        .search-by-genre-container {
            display: flex;
            flex-direction: column;
            .search-by-genre-grid {
                max-width: 80%;
                align-self: flex-end;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 0rem;
                margin-block-start: 4rem;
                .search-by-genre-card {
                    padding: 10rem 2rem 2rem 2rem;
                    &:nth-child(odd) {
                        background-color: #393939;

                        h3 {
                            color: white;
                            margin-block: 0.5rem 1.5rem;
                        }
                        p {
                            color: white;
                        }
                    }
                    &:nth-child(even) {
                        background-color: #fafafa;
                        h3 {
                            margin-block: 0.5rem 1.5rem;
                        }
                        p {
                            color: black;
                        }
                    }
                    img {
                        width: 2rem !important;
                    }
                }
            }
        }
    }
    @media (max-width: 900px) {
        .wrapper {
            .search-by-genre-container {
                width: 100%;
                .search-by-genre-grid {
                    grid-template-columns: 1fr;
                    max-width: 100%;
                    width: 100%;

                    .search-by-genre-card {
                        p {
                            max-width: 40ch;
                        }
                    }
                }
            }
        }
    }
}
