@use '../../styles/variables';

.seekers-section {
    background-image: url(../../public/images/sundaybg.png);
    background-blend-mode: darken;
    background-color: variables.$gray;
    background-size: cover;
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6rem;

        .seekers-top {
            h2 {
                color: white;
                max-width: 10ch;
                text-align: center;
            }
        }
        .seekers-content {
            display: flex;
            align-items: center;
            gap: 6rem;

            .seekers-left {
                flex: 1;
                h3 {
                    color: white;
                    font-weight: 300;
                }
                p {
                    margin-block: 2rem;
                    color: white;
                    font-weight: 500;
                }
            }
            .seekers-right {
                flex: 1;
            }
        }
        .seekers-bottom {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 4rem;

            button {
                margin-block-start: 2rem;
            }

            .seekers-item {
                h3 {
                    color: white;
                }

                p {
                    color: white;
                    margin-block: 1rem 0rem;
                }
            }
        }
    }
    @media (max-width: 1024px) {
        .wrapper {
            .seekers-content {
                gap: 2rem;
            }
        }
    }
    @media (max-width: 900px) {
        .wrapper {
            .seekers-content {
                flex-direction: column;

                .seekers-right {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
                .seekers-left {
                    h3 {
                        text-align: center;
                        max-width: 32ch;
                    }
                    p {
                        text-align: center;
                    }
                }
            }
            .seekers-bottom {
                gap: 2rem;
            }
        }
    }
    @media (max-width: 550px) {
        .wrapper {
            .seekers-content {
                flex-direction: column;

                .seekers-right {
                    width: 100%;

                    img {
                        width: 100%;
                    }
                }
                .seekers-left {
                    h3 {
                        text-align: center;
                        max-width: 32ch;
                    }
                    p {
                        text-align: center;
                    }
                }
            }
            .seekers-bottom {
                gap: 2rem;
                grid-template-columns: 1fr;
                gap: 4rem;
            }
        }
    }
}
