@use "../../styles/variables";

.spaces-section {
    background-image:linear-gradient( #0000007b, #0000007b),url(../../public/images/spaces-bg.png);
    background-size:cover;
    .wrapper {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:6rem;
        .spaces-top {
            h2 {
                color:white;
                max-width:12ch;
                text-align:center;
            }
        }

        .spaces-grid {
            display:grid;
            grid-template-columns: 1fr 1fr;
            gap:2rem;

            .spaces-card {
                padding:2rem;
                display:flex;
                align-items: center;
               
                gap:1rem;
                background-color:white;

                .spaces-card-left {
                    height:100%;
                    img {
                        height:100%;
                        object-fit:cover;
                    }
                }

                .spaces-card-right {
                    h3 {
                        font-size:variables.$mobile-h3;
                        margin-block:0rem 2rem;
                    }
                    button {
                        color:variables.$gold;
                    }
                }

                
            }
        }
    }
    @media (max-width:1024px) {
        .wrapper {
            .spaces-grid {
                .spaces-card {
                    flex-direction: column;
                    gap:2rem;
                }
            }
        }
    }
    @media (max-width:900px) {
        .wrapper {
            .spaces-grid {
                .spaces-card {
                    padding:1rem;
                }
            }
        }
    }
    @media (max-width:550px) {
        .wrapper {
            .spaces-grid {
                gap:1rem;
                .spaces-card {
                    // padding:1rem;
                }
            }
        }
    }
    @media (max-width:435px) {
        .wrapper {
            .spaces-grid {
                grid-template-columns: 1fr;
                gap:4rem;
                .spaces-card {
                    // padding:1rem;
                }
            }
        }
    }
}