@use "../../styles/variables";

.warden-section {
    .wrapper {
        display:flex;
        align-items: center;
        flex-direction: column;
        gap:6rem;
        position:relative;

        .pencil {
            width:100%;
            top:50%;
            left:50%;
            opacity:0.05;
            right:auto;
            bottom:auto;
            transform: translate(-50%, -50%);
        }

        .warden-top {
            h2 {
                max-width:8ch;
                text-align:center;
            }
        }
        .warden-main {
            display:flex;
            align-items: center;
            gap:6rem;


           

            .warden-main-left {
                // flex:1;
                width:55%;

                p {
                    margin-block-start:2rem;
                }

                button {
                    color:black;
                    margin-block-start:3rem;
                }
                
            }

            .warden-main-right {
                // flex:1;
                width:45%;
                img {
                    border-radius: 320px 320px 0px 0px;
                }
            }
            @media (max-width:900px) {
                gap:4rem;
                flex-direction: column-reverse;
                align-items: center;

                .warden-main-left {
                    display:flex;
                    flex-direction: column;
                    align-items: center;
                    width:100%;
                    h3 {
                        text-align:center;
                        max-width:28ch;
                    }

                    p {
                        text-align:center;
                        max-width:60ch;
                    }
                }
                

               

                .warden-main-right {
                    width:50%;
                    img {
                        border-radius:500px 500px 0px 0px;
                    }
                }
                
            }
        }
        .warden-bottom {
            display:flex;
            align-items: center;
            gap:6rem;

            .warden-bottom-right {
                width:45%;
                p {
                    margin-block-start:2rem;
                }

            }
            .warden-bottom-left {
                width:55%;

                p {
                    font-size:variables.$h3;
                    line-height:1.3;
                }
            }
            @media (max-width:900px) {
                flex-direction: column;

                .warden-bottom-left,
                .warden-bottom-right {
                    width:100%;
                    display:flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    p {
                        text-align:center;
                        max-width:60ch;
                    }
                    h3 {
                        text-align:center;
                        max-width:28ch;
                    }
                }

            }
        }
    }
}