*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
}

img {
  width: 100%;
}
img.icon {
  width: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

section,
main,
header,
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .wrapper,
main .wrapper,
header .wrapper,
footer .wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 8rem 4rem;
}
section .wrapper.wrapper-narrow,
main .wrapper.wrapper-narrow,
header .wrapper.wrapper-narrow,
footer .wrapper.wrapper-narrow {
  padding: 8rem 8rem;
}
@media (max-width: 1120px) {
  section .wrapper.wrapper-narrow,
  main .wrapper.wrapper-narrow,
  header .wrapper.wrapper-narrow,
  footer .wrapper.wrapper-narrow {
    padding-inline: 6rem;
  }
}
@media (max-width: 1024px) {
  section .wrapper.wrapper-narrow,
  main .wrapper.wrapper-narrow,
  header .wrapper.wrapper-narrow,
  footer .wrapper.wrapper-narrow {
    padding-inline: 4rem;
  }
}
@media (max-width: 700px) {
  section .wrapper,
  main .wrapper,
  header .wrapper,
  footer .wrapper {
    padding-inline: 2rem;
  }
  section .wrapper.wrapper-narrow,
  main .wrapper.wrapper-narrow,
  header .wrapper.wrapper-narrow,
  footer .wrapper.wrapper-narrow {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  section .wrapper,
  main .wrapper,
  header .wrapper,
  footer .wrapper {
    padding-inline: 1rem;
  }
  section .wrapper.wrapper-narrow,
  main .wrapper.wrapper-narrow,
  header .wrapper.wrapper-narrow,
  footer .wrapper.wrapper-narrow {
    padding-inline: 1rem;
  }
}

@font-face {
  font-family: boost;
  src: url("../Golden Hopes.otf");
}
h1 {
  font-size: 96px;
  line-height: 105.6px;
  color: white;
  font-weight: 400;
}
h1 span {
  font-family: boost;
  font-size: 180px;
  vertical-align: bottom;
  width: -moz-max-content;
  width: max-content;
  color: #b4780a;
}
@media (max-width: 800px) {
  h1 {
    font-size: 64px;
    line-height: 70.4px;
    max-width: 14ch !important;
  }
  h1 span {
    font-size: 120px;
    margin-inline: 0.25rem;
  }
}
@media (max-width: 550px) {
  h1 {
    font-size: 40px;
    line-height: 44px;
  }
  h1 span {
    font-size: 80px;
  }
}

h2 {
  font-size: 48px;
  line-height: 62.4px !important;
  color: #081841;
  font-weight: 400;
}
h2 span {
  font-family: boost;
  font-size: 70px;
  vertical-align: bottom;
  color: #b4780a;
  float: center;
}
@media (max-width: 800px) {
  h2 {
    font-size: 40px;
    line-height: 56px !important;
  }
  h2 span {
    font-size: 55px;
    margin-inline: 0.25rem;
  }
}

h3 {
  font-size: 32px;
  line-height: 38.4px;
  color: #081841;
  font-weight: 400;
}
h3 span {
  font-family: boost;
  font-size: 60px;
  vertical-align: bottom;
  color: #b4780a;
}
@media (max-width: 800px) {
  h3 {
    font-size: 24px;
    line-height: 31.2px;
  }
  h3 span {
    font-size: 50px;
    margin-inline: 0.25rem;
  }
}

p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 200;
}

button {
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
button svg {
  margin-inline-end: -0.25rem;
  width: 32px;
}

body {
  position: relative;
}

header {
  position: absolute;
  background-color: transparent;
}
header .header-wrapper {
  padding: 1.5rem 4rem;
  display: flex;
  width: 100%;
  max-width: 1440px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid white;
}
@media (max-width: 700px) {
  header .header-wrapper {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  header .header-wrapper {
    padding-inline: 1rem;
  }
}
header .header-wrapper nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
header .header-wrapper nav ul li {
  color: white;
}
header .header-wrapper nav ul button {
  background-color: white;
  color: black;
  border: 2px solid white;
  padding: 0.75rem 2rem;
  border-radius: 4rem;
}
header .header-wrapper nav ul a:nth-child(6) {
  margin-inline-end: -1rem;
}
header .header-wrapper nav ul a:last-child button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}
header .header-wrapper nav img:not(.cross) {
  width: 2rem;
  display: none;
}
header .header-wrapper nav .cross {
  width: 2rem;
  display: none;
}
@media (max-width: 1024px) {
  header .header-wrapper nav {
    display: flex;
    flex-direction: column;
  }
  header .header-wrapper nav ul {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    margin-block-start: 2rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.3921568627);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 300px;
    height: 100vh;
    justify-content: center;
    width: 100vw;
    left: 0;
    top: -2rem;
    transform: translateX(100%);
    transition: transform 500ms ease;
    z-index: 100000;
  }
  header .header-wrapper nav ul.active {
    transform: translateX(0%);
    transition: transform 500ms ease;
  }
  header .header-wrapper nav ul a:has(button) {
    min-width: 250px;
  }
  header .header-wrapper nav ul a:has(button) button {
    width: 100%;
    display: block;
  }
  header .header-wrapper nav ul li {
    font-size: 24px;
  }
  header .header-wrapper nav img:not(.cross) {
    display: block;
    cursor: pointer;
  }
  header .header-wrapper nav .cross {
    position: absolute;
    display: block;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
  }
}

main {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8039215686), rgba(0, 0, 0, 0) 60%), url(../../public/images/facilities-hero.png);
  background-size: cover;
  background-position: center;
}
main .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-block-end: 2rem;
  height: 95vh;
  max-height: 1000px;
}
main .wrapper p {
  color: white;
  align-self: flex-end;
  max-width: 52%;
  margin-block-end: -6rem;
}
main .wrapper h1 {
  max-width: 101%;
  width: 101%;
  transition: -webkit-clip-path 500ms ease;
  transition: clip-path 500ms ease;
  transition: clip-path 500ms ease, -webkit-clip-path 500ms ease;
}

.search-by-genre-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6rem;
}
.search-by-genre-section .wrapper .search-by-genre-titles h2 {
  max-width: 32ch;
}
.search-by-genre-section .wrapper .search-by-genre-container {
  display: flex;
  flex-direction: column;
}
.search-by-genre-section .wrapper .search-by-genre-container .search-by-genre-grid {
  max-width: 80%;
  align-self: flex-end;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0rem;
  margin-block-start: 4rem;
}
.search-by-genre-section .wrapper .search-by-genre-container .search-by-genre-grid .search-by-genre-card {
  padding: 10rem 2rem 2rem 2rem;
}
.search-by-genre-section .wrapper .search-by-genre-container .search-by-genre-grid .search-by-genre-card:nth-child(odd) {
  background-color: #393939;
}
.search-by-genre-section .wrapper .search-by-genre-container .search-by-genre-grid .search-by-genre-card:nth-child(odd) h3 {
  color: white;
  margin-block: 0.5rem 1.5rem;
}
.search-by-genre-section .wrapper .search-by-genre-container .search-by-genre-grid .search-by-genre-card:nth-child(odd) p {
  color: white;
}
.search-by-genre-section .wrapper .search-by-genre-container .search-by-genre-grid .search-by-genre-card:nth-child(even) {
  background-color: #fafafa;
}
.search-by-genre-section .wrapper .search-by-genre-container .search-by-genre-grid .search-by-genre-card:nth-child(even) h3 {
  margin-block: 0.5rem 1.5rem;
}
.search-by-genre-section .wrapper .search-by-genre-container .search-by-genre-grid .search-by-genre-card:nth-child(even) p {
  color: black;
}
.search-by-genre-section .wrapper .search-by-genre-container .search-by-genre-grid .search-by-genre-card img {
  width: 2rem !important;
}
@media (max-width: 900px) {
  .search-by-genre-section .wrapper .search-by-genre-container {
    width: 100%;
  }
  .search-by-genre-section .wrapper .search-by-genre-container .search-by-genre-grid {
    grid-template-columns: 1fr;
    max-width: 100%;
    width: 100%;
  }
  .search-by-genre-section .wrapper .search-by-genre-container .search-by-genre-grid .search-by-genre-card p {
    max-width: 40ch;
  }
}

.search-by-team-section .wrapper swiper-container {
  display: flex;
}
.search-by-team-section .wrapper swiper-container swiper-slide {
  height: 100%;
}
.search-by-team-section .wrapper swiper-container {
  margin-block-start: 4rem;
  height: auto;
  gap: 0;
  max-width: 1440px;
  align-self: center;
}
.search-by-team-section .wrapper swiper-container swiper-slide {
  height: 100%;
}
.search-by-team-section .wrapper swiper-container swiper-slide a {
  color: black;
}
.search-by-team-section .wrapper swiper-container swiper-slide a .swiper-image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 9/11;
  max-width: auto;
}
.search-by-team-section .wrapper swiper-container swiper-slide a h3 {
  font-size: 24px;
  line-height: 1.3;
}

.search-by-service-section .wrapper swiper-container {
  display: flex;
}
.search-by-service-section .wrapper swiper-container swiper-slide {
  height: 100%;
}
.search-by-service-section .wrapper swiper-container {
  margin-block-start: 4rem;
  height: auto;
  gap: 0;
  max-width: 1440px;
  align-self: center;
}
.search-by-service-section .wrapper swiper-container swiper-slide {
  height: 100%;
}
.search-by-service-section .wrapper swiper-container swiper-slide a {
  color: black;
}
.search-by-service-section .wrapper swiper-container swiper-slide a .swiper-image {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 9/11;
  max-width: auto;
}
.search-by-service-section .wrapper swiper-container swiper-slide a h3 {
  font-size: 24px;
  line-height: 1.3;
}

.search-by-room-section .wrapper .search-by-room-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-block: 4rem;
}
.search-by-room-section .wrapper .search-by-room-grid .search-by-room-card h3 {
  margin-block: 0.5rem 0;
}
@media (max-width: 500px) {
  .search-by-room-section .wrapper .search-by-room-grid {
    gap: 1rem;
    grid-template-columns: 1fr;
  }
}

.welcome-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  position: relative;
}
.welcome-section .wrapper .pencil {
  opacity: 0.05;
  width: 100%;
}
@media (max-width: 900px) {
  .welcome-section .wrapper .pencil {
    width: 100%;
    top: 50%;
    bottom: auto;
    right: auto;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.welcome-section .wrapper .welcome-top h2 {
  max-width: 12ch;
  text-align: center;
  line-height: 1;
}
.welcome-section .wrapper .welcome-bottom {
  display: flex;
  align-items: center;
  width: 80%;
  gap: 8rem;
}
.welcome-section .wrapper .welcome-bottom .welcome-bottom-right {
  width: 45%;
}
.welcome-section .wrapper .welcome-bottom .welcome-bottom-right img {
  border-radius: 320px 320px 0px 0px;
}
.welcome-section .wrapper .welcome-bottom .welcome-bottom-left {
  width: 55%;
}
.welcome-section .wrapper .welcome-bottom .welcome-bottom-left h3 {
  max-width: 40ch;
}
.welcome-section .wrapper .welcome-bottom .welcome-bottom-left p {
  max-width: 60ch;
  margin-block: 2rem 1.5rem;
  font-weight: 400;
}
.welcome-section .wrapper .welcome-bottom .welcome-bottom-left button {
  color: black;
}
@media (max-width: 900px) {
  .welcome-section .wrapper .welcome-bottom {
    gap: 4rem;
    flex-direction: column-reverse;
    align-items: center;
  }
  .welcome-section .wrapper .welcome-bottom .welcome-bottom-right {
    width: 50%;
  }
  .welcome-section .wrapper .welcome-bottom .welcome-bottom-right img {
    border-radius: 500px 500px 0px 0px;
  }
  .welcome-section .wrapper .welcome-bottom .welcome-bottom-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .welcome-section .wrapper .welcome-bottom .welcome-bottom-left h3 {
    text-align: center;
    max-width: 28ch;
  }
  .welcome-section .wrapper .welcome-bottom .welcome-bottom-left p {
    text-align: center;
    max-width: 60ch;
  }
}

.andrew-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  max-width: 1200px;
}
.andrew-section .wrapper .pencil {
  opacity: 0.05;
  width: 100%;
  inset: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.andrew-section .wrapper .andrew-titles h2 {
  text-align: center;
  max-width: 12ch;
}
.andrew-section .wrapper .andrew-content {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.andrew-section .wrapper .andrew-content .andrew-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.andrew-section .wrapper .andrew-content .andrew-left p:not(:nth-child(3)) {
  margin-block: 1.5rem 2rem;
}
.andrew-section .wrapper .andrew-content .andrew-left p:last-of-type {
  font-weight: 600;
}
.andrew-section .wrapper .andrew-content .andrew-left button {
  color: black;
  margin-block-start: 2rem;
}
@media (max-width: 900px) {
  .andrew-section .wrapper .andrew-content {
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;
  }
  .andrew-section .wrapper .andrew-content .andrew-left,
  .andrew-section .wrapper .andrew-content .andrew-right {
    width: 100%;
  }
  .andrew-section .wrapper .andrew-content .andrew-left h3,
  .andrew-section .wrapper .andrew-content .andrew-right h3 {
    max-width: 26ch;
  }
  .andrew-section .wrapper .andrew-content .andrew-left p,
  .andrew-section .wrapper .andrew-content .andrew-right p {
    max-width: 40ch;
  }
}

.music-cards-section .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  position: relative;
}
.music-cards-section .wrapper .pencil {
  opacity: 0.05;
  width: 100%;
  inset: 0;
}
.music-cards-section .wrapper .music-card h3 {
  margin-block: 1rem 1.5rem;
}
@media (max-width: 900px) {
  .music-cards-section .wrapper {
    gap: 2rem;
  }
}
@media (max-width: 700px) {
  .music-cards-section .wrapper {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}

.bell-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}
.bell-section .wrapper .bell-top h2 {
  max-width: 14ch;
  text-align: center;
}
.bell-section .wrapper .bell-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0rem;
}
.bell-section .wrapper .bell-content .bell-content-top h3 {
  max-width: 16ch;
}
.bell-section .wrapper .bell-content .bell-bottom {
  display: flex;
  align-items: center;
  gap: 6rem;
}
.bell-section .wrapper .bell-content .bell-bottom .bell-grid {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 1fr;
  flex: 2;
}
.bell-section .wrapper .bell-content .bell-bottom .bell-grid .bell-grid-item p {
  margin-block: 1rem 0rem;
}
.bell-section .wrapper .bell-content .bell-bottom .bell-pencil {
  flex: 1;
  opacity: 0.1;
}
@media (max-width: 900px) {
  .bell-section .wrapper .bell-content {
    align-items: center;
  }
  .bell-section .wrapper .bell-content h3 {
    text-align: center;
  }
  .bell-section .wrapper .bell-content .bell-bottom {
    flex-direction: column-reverse;
  }
  .bell-section .wrapper .bell-content .bell-bottom .bell-pencil {
    width: 40%;
  }
  .bell-section .wrapper .bell-content .bell-bottom .bell-grid p {
    text-align: center;
  }
}
@media (max-width: 550px) {
  .bell-section .wrapper .bell-content {
    align-items: center;
  }
  .bell-section .wrapper .bell-content h3 {
    text-align: center;
  }
  .bell-section .wrapper .bell-content .bell-bottom {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .bell-section .wrapper .bell-content .bell-bottom .bell-pencil {
    width: 70%;
  }
  .bell-section .wrapper .bell-content .bell-bottom .bell-grid {
    gap: 4rem;
    grid-template-columns: 1fr;
  }
  .bell-section .wrapper .bell-content .bell-bottom .bell-grid p {
    text-align: center;
  }
}

.seekers-section {
  background-image: url(../../public/images/sundaybg.png);
  background-blend-mode: darken;
  background-color: #393939;
  background-size: cover;
}
.seekers-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}
.seekers-section .wrapper .seekers-top h2 {
  color: white;
  max-width: 10ch;
  text-align: center;
}
.seekers-section .wrapper .seekers-content {
  display: flex;
  align-items: center;
  gap: 6rem;
}
.seekers-section .wrapper .seekers-content .seekers-left {
  flex: 1;
}
.seekers-section .wrapper .seekers-content .seekers-left h3 {
  color: white;
  font-weight: 300;
}
.seekers-section .wrapper .seekers-content .seekers-left p {
  margin-block: 2rem;
  color: white;
  font-weight: 500;
}
.seekers-section .wrapper .seekers-content .seekers-right {
  flex: 1;
}
.seekers-section .wrapper .seekers-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
}
.seekers-section .wrapper .seekers-bottom button {
  margin-block-start: 2rem;
}
.seekers-section .wrapper .seekers-bottom .seekers-item h3 {
  color: white;
}
.seekers-section .wrapper .seekers-bottom .seekers-item p {
  color: white;
  margin-block: 1rem 0rem;
}
@media (max-width: 1024px) {
  .seekers-section .wrapper .seekers-content {
    gap: 2rem;
  }
}
@media (max-width: 900px) {
  .seekers-section .wrapper .seekers-content {
    flex-direction: column;
  }
  .seekers-section .wrapper .seekers-content .seekers-right {
    width: 100%;
  }
  .seekers-section .wrapper .seekers-content .seekers-right img {
    width: 100%;
  }
  .seekers-section .wrapper .seekers-content .seekers-left h3 {
    text-align: center;
    max-width: 32ch;
  }
  .seekers-section .wrapper .seekers-content .seekers-left p {
    text-align: center;
  }
  .seekers-section .wrapper .seekers-bottom {
    gap: 2rem;
  }
}
@media (max-width: 550px) {
  .seekers-section .wrapper .seekers-content {
    flex-direction: column;
  }
  .seekers-section .wrapper .seekers-content .seekers-right {
    width: 100%;
  }
  .seekers-section .wrapper .seekers-content .seekers-right img {
    width: 100%;
  }
  .seekers-section .wrapper .seekers-content .seekers-left h3 {
    text-align: center;
    max-width: 32ch;
  }
  .seekers-section .wrapper .seekers-content .seekers-left p {
    text-align: center;
  }
  .seekers-section .wrapper .seekers-bottom {
    gap: 2rem;
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}

.pastoral-section .wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12rem;
  position: relative;
}
.pastoral-section .wrapper .pencil {
  opacity: 0.05;
  width: 100%;
  inset: 0;
  z-index: -1;
}
.pastoral-section .wrapper .pastoral-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}
.pastoral-section .wrapper .pastoral-top h2 {
  text-align: center;
  max-width: 10ch;
}
.pastoral-section .wrapper .pastoral-top h3 {
  text-align: center;
  max-width: 32ch;
}
.pastoral-section .wrapper .pastoral-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4rem;
}
@media (max-width: 900px) {
  .pastoral-section .wrapper .pastoral-grid {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
@media (max-width: 550px) {
  .pastoral-section .wrapper .pastoral-grid {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}
.pastoral-section .wrapper .pastoral-grid .pastoral-item p {
  margin-block: 1rem 0rem;
}
.pastoral-section .wrapper .pastoral-quote {
  align-self: flex-start;
}
@media (max-width: 550px) {
  .pastoral-section .wrapper .pastoral-quote {
    align-self: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
.pastoral-section .wrapper .pastoral-quote h3 {
  max-width: 24ch;
}
@media (max-width: 550px) {
  .pastoral-section .wrapper .pastoral-quote h3 {
    text-align: center;
  }
}
.pastoral-section .wrapper .pastoral-quote button {
  color: black;
  margin-block: 2rem 0rem;
}

.mike-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  max-width: 1200px;
}
.mike-section .wrapper .pencil {
  opacity: 0.05;
  width: 100%;
  inset: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mike-section .wrapper .mike-titles h2 {
  text-align: center;
  max-width: 12ch;
}
.mike-section .wrapper .mike-content {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.mike-section .wrapper .mike-content .mike-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mike-section .wrapper .mike-content .mike-left .firstP {
  margin-block-start: 2rem;
}
.mike-section .wrapper .mike-content .mike-left .lastP {
  margin-block-end: 2rem;
}
.mike-section .wrapper .mike-content .mike-left .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  margin-block: 2rem;
}
.mike-section .wrapper .mike-content .mike-left .list .list-item p {
  font-weight: 500;
}
.mike-section .wrapper .mike-content .mike-left > p:last-of-type {
  font-weight: 600;
}
.mike-section .wrapper .mike-content .mike-left button {
  color: black;
  margin-block-start: 2rem;
}
@media (max-width: 900px) {
  .mike-section .wrapper .mike-content {
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;
  }
  .mike-section .wrapper .mike-content .mike-left,
  .mike-section .wrapper .mike-content .mike-right {
    width: 100%;
  }
  .mike-section .wrapper .mike-content .mike-left h3,
  .mike-section .wrapper .mike-content .mike-right h3 {
    max-width: 26ch;
  }
  .mike-section .wrapper .mike-content .mike-left p,
  .mike-section .wrapper .mike-content .mike-right p {
    max-width: 40ch;
  }
  .mike-section .wrapper .mike-bottom {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .mike-section .wrapper .mike-bottom h3 {
    max-width: 26ch;
  }
  .mike-section .wrapper .mike-bottom p {
    max-width: 40ch;
  }
  .mike-section .wrapper .mike-bottom .mike-bottom-left,
  .mike-section .wrapper .mike-bottom .mike-bottom-right {
    width: 100%;
    max-width: 100%;
    align-self: flex-start;
  }
}

.wardens-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  max-width: 1000px;
}
.wardens-section .wrapper .wardens-title h2 {
  max-width: 12ch;
  text-align: center;
}
.wardens-section .wrapper .wardens-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.wardens-section .wrapper .wardens-grid .wardens-item p {
  margin-block-start: 2rem;
}
.wardens-section .wrapper .wardens-grid .wardens-item:nth-child(even) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.wardens-section .wrapper .wardens-grid .wardens-item:nth-child(even) p {
  text-align: left;
}
.wardens-section .wrapper .wardens-grid .wardens-item h3 {
  margin-block-start: 0.5rem;
  text-align: left;
}
.wardens-section .wrapper .mike-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 4rem;
}
@media (max-width: 535px) {
  .wardens-section .wrapper .mike-bottom {
    gap: 2rem;
  }
}
.wardens-section .wrapper .mike-bottom img {
  width: 4rem;
  margin-block-end: 1rem;
}
@media (max-width: 535px) {
  .wardens-section .wrapper .mike-bottom img {
    width: 3rem;
  }
}
.wardens-section .wrapper .mike-bottom .mike-bottom-left h3 {
  font-family: "Playfair Display", serif;
  max-width: 20ch;
}
@media (max-width: 469px) {
  .wardens-section .wrapper .mike-bottom .mike-bottom-left h3 {
    max-width: 12ch;
  }
}
@media (max-width: 438px) {
  .wardens-section .wrapper .mike-bottom .mike-bottom-left h3 {
    max-width: 10ch;
  }
}
.wardens-section .wrapper .mike-bottom .mike-bottom-left p {
  margin-block-start: 2rem;
}
.wardens-section .wrapper .mike-bottom .mike-bottom-right h3 {
  font-family: "Playfair Display", serif;
  max-width: 20ch;
}
@media (max-width: 469px) {
  .wardens-section .wrapper .mike-bottom .mike-bottom-right h3 {
    max-width: 12ch;
  }
}
@media (max-width: 438px) {
  .wardens-section .wrapper .mike-bottom .mike-bottom-right h3 {
    max-width: 9ch;
  }
}
.wardens-section .wrapper .mike-bottom .mike-bottom-right p {
  margin-block-start: 2rem;
}
@media (max-width: 900px) {
  .wardens-section .wrapper .wardens-grid {
    grid-template-columns: 1fr;
  }
  .wardens-section .wrapper .wardens-grid .wardens-item:nth-child(even) {
    align-items: flex-start;
  }
  .wardens-section .wrapper .wardens-grid .wardens-item:nth-child(even) p {
    text-align: left;
  }
  .wardens-section .wrapper .wardens-grid .wardens-item:nth-child(even) h3 {
    text-align: left;
  }
}

.rooms-for-hire-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  gap: 6rem;
}
.rooms-for-hire-section .wrapper .rooms-for-hire-titles {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rooms-for-hire-section .wrapper .rooms-for-hire-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.rooms-for-hire-section .wrapper .rooms-for-hire-columns .rooms-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.rooms-for-hire-section .wrapper .rooms-for-hire-columns .rooms-column h3 {
  margin-block: 1.5rem 1.25rem;
  max-width: 12ch;
}
.rooms-for-hire-section .wrapper .rooms-for-hire-columns .rooms-column p {
  max-width: 40ch;
}
.rooms-for-hire-section .wrapper .rooms-for-hire-columns .rooms-column ul {
  margin-block-start: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
.rooms-for-hire-section .wrapper .rooms-for-hire-columns .rooms-column ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.rooms-for-hire-section .wrapper .rooms-for-hire-columns .rooms-column ul li img {
  width: 2rem;
}
.rooms-for-hire-section .wrapper .rooms-for-hire-columns .rooms-column ul button {
  color: black;
  margin-block-start: 2rem;
}
@media (max-width: 500px) {
  .rooms-for-hire-section .wrapper .rooms-for-hire-columns {
    gap: 1rem;
  }
}
@media (max-width: 366px) {
  .rooms-for-hire-section .wrapper .rooms-for-hire-columns {
    gap: 1rem;
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}

.wedding-cards-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}
.wedding-cards-section .wrapper .wedding-card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  position: relative;
}
.wedding-cards-section .wrapper .wedding-card-grid .pencil {
  opacity: 0.05;
  width: 100%;
  inset: 0;
}
.wedding-cards-section .wrapper .wedding-card-grid .wedding-card h3 {
  margin-block: 1rem 1.5rem;
}
.wedding-cards-section .wrapper .wedding-card-grid .wedding-card button {
  color: black;
  margin-block-start: 2rem;
}
@media (max-width: 900px) {
  .wedding-cards-section .wrapper .wedding-card-grid {
    gap: 2rem;
  }
}
@media (max-width: 700px) {
  .wedding-cards-section .wrapper .wedding-card-grid {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}

.involved-section {
  background-image: url(../../public/images/involved-image.png);
  background-size: cover;
}
.involved-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-block: 20rem !important;
}
.involved-section .wrapper h2 {
  color: white;
}
.involved-section .wrapper p {
  color: white;
  max-width: 40ch;
  margin-block: 2rem 3rem;
}
@media (max-width: 708px) {
  .involved-section {
    background-position: center;
  }
}

footer .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-end: 4rem;
}
footer .wrapper .footer-top {
  padding-block-end: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
footer .wrapper .footer-top .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
footer .wrapper .footer-top ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
footer .wrapper .footer-top ul a {
  color: black;
}
footer .wrapper .footer-bottom {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-block-start: 4rem;
  border-top: 0.5px solid black;
}
footer .wrapper .footer-bottom a {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  color: black;
}
footer .wrapper .footer-bottom a img {
  width: 8rem;
}
@media (max-width: 500px) {
  footer .wrapper .footer-bottom {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
  footer .wrapper .footer-bottom a {
    align-items: center;
  }
  footer .wrapper .footer-bottom p {
    text-align: center;
  }
}
@media (max-width: 600px) {
  footer .wrapper .footer-top ul {
    flex-direction: column;
  }
  footer .wrapper .footer-bottom {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
  footer .wrapper .footer-bottom a {
    align-items: center;
  }
  footer .wrapper .footer-bottom p {
    text-align: center;
  }
}

.pencil {
  opacity: 0.075;
  position: absolute;
  width: 60%;
  left: 0;
  bottom: 0;
  z-index: -1;
}

html,
body {
  overflow-x: hidden;
}/*# sourceMappingURL=style.css.map */