@use '../../styles/variables';

.mike-section {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0rem;
        max-width: 1000px;
        .pencil {
            opacity: 0.05;
            width: 100%;
            inset: 0;
            height: 100%;
            object-fit: cover;
        }
        .mike-titles {
            h2 {
                text-align: center;
                max-width: 12ch;
            }
        }
        .mike-content {
            .mike-top {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                max-width: 700px;
                margin-inline: auto;

                .firstP {
                    margin-block-start: 2rem;
                    max-width: 100%;
                }
                .lastP {
                    margin-block-end: 2rem;
                    max-width: 100%;
                }

                .list {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 1.5rem;
                    margin-block: 2rem;

                    .list-item {
                        p {
                            max-width: 100%;
                        }
                    }
                }

                button {
                    color: black;
                    margin-block-start: 2rem;
                }
            }
            .wardens-title {
                h3 {
                    max-width: 16ch;
                    text-align: center;
                    margin-inline: auto;
                }
                margin-block: 4rem 2rem;
            }

            .wardens-grid {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2rem;

                .wardens-item {
                    img {
                        height: 400px;
                        margin-block-end: 0.5rem;
                        object-fit: cover;
                    }
                    p {
                        margin-block-start: 2rem;
                    }
                    &:nth-child(even) {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        p {
                            text-align: left;
                        }
                    }
                    h3 {
                        margin-block-start: 0.5rem;
                        text-align: left;
                    }
                }
            }
            .mike-bottom {
                display: grid;
                grid-template-columns: 1fr 1fr;
                align-items: start;
                gap: 4rem;
                margin-block-start: 4rem;

                @media (max-width: 535px) {
                    gap: 2rem;
                }

                img {
                    width: 4rem;
                    margin-block-end: 1rem;
                    @media (max-width: 535px) {
                        width: 3rem;
                    }
                }

                .mike-bottom-left {
                    h3 {
                        font-family: 'Playfair Display', serif;
                        max-width: 20ch;
                        @media (max-width: 469px) {
                            max-width: 12ch;
                        }
                        @media (max-width: 438px) {
                            max-width: 10ch;
                        }
                    }
                    p {
                        margin-block-start: 2rem;
                    }
                }

                .mike-bottom-right {
                    h3 {
                        font-family: 'Playfair Display', serif;
                        max-width: 20ch;
                        @media (max-width: 469px) {
                            max-width: 12ch;
                        }
                        @media (max-width: 438px) {
                            max-width: 9ch;
                        }
                    }
                    p {
                        margin-block-start: 2rem;
                    }
                }
            }
        }
    }
    @media (max-width: 900px) {
        .wrapper {
            .mike-content {
                flex-direction: column-reverse;
                align-items: flex-start;
                width: 100%;
                max-width: 100%;

                .mike-top {
                    width: 100%;

                    h3 {
                        max-width: 26ch;
                    }

                    p {
                        max-width: 40ch;
                    }
                }
            }
            .wardens-grid {
                grid-template-columns: 1fr !important;
            }
            .mike-bottom {
                grid-template-columns: 1fr !important;
                width: 100%;

                h3 {
                    max-width: 40ch !important;
                }

                p {
                    max-width: 40ch;
                }
                .mike-bottom-left,
                .mike-bottom-right {
                    width: 100%;
                    max-width: 100%;
                    align-self: flex-start;
                }
            }
        }
    }
}
