@use '../../styles/variables';
@use '../../styles/reset';
@use '../../styles/fonts';
@use '../../styles/button';
@use '../../styles/header';
@use './main';
@use './search-by-genre';
@use './search-by-team';
@use './welcome';
@use './andrew';
@use './music-cards';
@use './bell-grid';
@use './seekers';
@use './pastoral';
@use './mike';
@use './rooms';
@use './wedding-cards';
@use './whats-on';
@use './involved';
@use '../../styles/footer';

:root {
    --swiper-navigation-size: 44px;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 10px;
    --swiper-navigation-color: #b4780a;
}

.pencil {
    opacity: 0.075;
    position: absolute;
    width: 60%;
    left: 0;
    bottom: 0;
    z-index: -1;
}

html,
body {
    overflow-x: hidden;
}

#back-to-top-button {
    position: fixed;
    padding: 1rem;
    background-color: white;
    aspect-ratio: 1;
    border-radius: 50%;
    display: grid;
    place-content: center;
    right: 4rem;
    bottom: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    height: 4rem;
    width: 4rem;
    z-index: 1000000000 !important;
    transition: scale 300ms ease;

    @media (max-width: 700px) {
        right: 2rem;
    }
    @media (max-width: 500px) {
        right: 1rem;
    }

    &:hover {
        scale: 1.05;
        transition: scale 300ms ease;
    }

    img {
        width: 1.5rem;
    }
}
