@use '../../styles/variables';
@use '../../styles/reset';
@use '../../styles/fonts';
@use '../../styles/button';
@use '../../styles/header';
@use './main';
@use './search-by-genre';
@use './search-by-team';
@use './welcome';
@use './andrew';
@use './music-cards';
@use './bell-grid';
@use './seekers';
@use './pastoral';
@use './mike';
@use './rooms';
@use './wedding-cards';
@use './whats-on';
@use './involved';
@use '../../styles/footer';

:root {
    --swiper-navigation-size: 44px;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 10px;
    --swiper-navigation-color: #b4780a;
}

.pencil {
    opacity: 0.075;
    position: absolute;
    width: 60%;
    left: 0;
    bottom: 0;
    z-index: -1;
}

html,
body {
    overflow-x: hidden;
}
