*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
}

img {
  width: 100%;
}
img.icon {
  width: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

section,
main,
header,
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .wrapper,
main .wrapper,
header .wrapper,
footer .wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 8rem 4rem;
}
section .wrapper.wrapper-narrow,
main .wrapper.wrapper-narrow,
header .wrapper.wrapper-narrow,
footer .wrapper.wrapper-narrow {
  padding: 8rem 8rem;
}
@media (max-width: 1120px) {
  section .wrapper.wrapper-narrow,
  main .wrapper.wrapper-narrow,
  header .wrapper.wrapper-narrow,
  footer .wrapper.wrapper-narrow {
    padding-inline: 6rem;
  }
}
@media (max-width: 1024px) {
  section .wrapper.wrapper-narrow,
  main .wrapper.wrapper-narrow,
  header .wrapper.wrapper-narrow,
  footer .wrapper.wrapper-narrow {
    padding-inline: 4rem;
  }
}
@media (max-width: 700px) {
  section .wrapper,
  main .wrapper,
  header .wrapper,
  footer .wrapper {
    padding-inline: 2rem;
  }
  section .wrapper.wrapper-narrow,
  main .wrapper.wrapper-narrow,
  header .wrapper.wrapper-narrow,
  footer .wrapper.wrapper-narrow {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  section .wrapper,
  main .wrapper,
  header .wrapper,
  footer .wrapper {
    padding-inline: 1rem;
  }
  section .wrapper.wrapper-narrow,
  main .wrapper.wrapper-narrow,
  header .wrapper.wrapper-narrow,
  footer .wrapper.wrapper-narrow {
    padding-inline: 1rem;
  }
}

@font-face {
  font-family: boost;
  src: url("../Golden Hopes.otf");
}
h1 {
  font-size: 96px;
  line-height: 105.6px;
  color: white;
  font-weight: 400;
}
h1 span {
  font-family: boost;
  font-size: 180px;
  vertical-align: bottom;
  width: -moz-max-content;
  width: max-content;
  color: #b4780a;
}
@media (max-width: 800px) {
  h1 {
    font-size: 64px;
    line-height: 1.1;
    max-width: 14ch !important;
  }
  h1 span {
    font-size: 120px;
    margin-inline: 0.25rem;
    line-height: 0.7;
  }
}

@media (max-width: 550px) {
  #home h1 {
    font-size: 48px;
    line-height: 52.8px;
  }
  #home h1 span {
    font-size: 96px;
  }
}

h2 {
  font-size: 48px;
  line-height: 62.4px !important;
  color: #081841;
  font-weight: 400;
}
h2 span {
  font-family: boost;
  font-size: 70px;
  vertical-align: bottom;
  color: #b4780a;
  float: center;
}
@media (max-width: 800px) {
  h2 {
    font-size: 40px;
    line-height: 56px !important;
  }
  h2 span {
    font-size: 55px;
    margin-inline: 0.25rem;
  }
}

h3 {
  font-size: 32px;
  line-height: 38.4px;
  color: #081841;
  font-weight: 400;
}
h3 span {
  font-family: boost;
  font-size: 60px;
  vertical-align: bottom;
  color: #b4780a;
}
@media (max-width: 800px) {
  h3 {
    font-size: 24px;
    line-height: 31.2px;
  }
  h3 span {
    font-size: 50px;
    margin-inline: 0.25rem;
  }
}

p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
}
p:not(.tag,
.no-cap,
.contact-section p,
footer p,
.search-by-genre-section p,
.search-by-team-section p,
.bell-section p,
.seekers-section p,
.pastoral-section p,
.mike-section p,
.rooms-for-hire-section p,
.involved-section p,
.how-to-donate-section p,
.services-section p)::first-letter {
  -webkit-initial-letter: 2;
  -moz-initial-letter: 2;
  initial-letter: 2;
  margin-inline: 0rem 0.3rem;
  padding-inline: 0rem 0.2rem;
}

@-moz-document url-prefix() {
  p:not(.tag,
  .no-cap,
  .contact-section p,
  footer p,
  .search-by-genre-section p,
  .search-by-team-section p,
  .bell-section p,
  .seekers-section p,
  .pastoral-section p,
  .mike-section p,
  .rooms-for-hire-section p,
  .involved-section p,
  .how-to-donate-section p,
  .services-section p)::first-letter {
    -webkit-initial-letter: 2;
    -moz-initial-letter: 2;
    initial-letter: 2;
    margin-inline: 0rem;
    padding-inline: 0rem;
  }
}
button {
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
button svg,
button img {
  margin-inline-end: -0.25rem;
  width: 32px;
}

body {
  position: relative;
}

header {
  position: absolute;
  background-color: transparent;
}
header .header-wrapper {
  padding: 0.5rem 4rem;
  display: flex;
  width: 100%;
  max-width: 1440px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid white;
}
@media (max-width: 700px) {
  header .header-wrapper {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  header .header-wrapper {
    padding-inline: 1rem;
  }
}
header .header-wrapper .logo-container img {
  width: 3rem;
}
header .header-wrapper nav {
  min-width: 80%;
}
header .header-wrapper nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
header .header-wrapper nav ul #pencil-texture {
  display: none;
}
header .header-wrapper nav ul a:nth-child(10) {
  display: none;
}
header .header-wrapper nav ul a:nth-child(11) {
  display: none;
}
header .header-wrapper nav ul a li {
  color: white;
}
header .header-wrapper nav ul .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
header .header-wrapper nav ul .buttons button {
  background-color: white;
  color: black;
  border: 1px solid white;
  padding: 0.75rem 2rem;
  border-radius: 4rem;
}
header .header-wrapper nav ul a {
  font-size: 16px !important;
}
header .header-wrapper nav ul a:last-child button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
header .header-wrapper nav img:not(.cross) {
  width: 2rem;
  display: none;
}
header .header-wrapper nav .cross {
  width: 2rem;
  display: none;
}
@media (max-width: 1200px) {
  header .header-wrapper nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    min-width: auto;
  }
  header .header-wrapper nav ul {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    margin-block-start: 2rem;
    padding: 2rem;
    background-color: rgba(57, 57, 57, 0.9803921569);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 300px;
    height: 100vh;
    justify-content: center;
    width: 100vw;
    align-items: center;
    left: 0;
    top: -2rem;
    transform: translateX(100%);
    transition: transform 500ms ease;
    z-index: 100000;
    gap: 1.5rem;
  }
  header .header-wrapper nav ul #pencil-texture {
    display: block;
    width: 100%;
    position: absolute;
    opacity: 0.075;
    z-index: -1;
  }
  header .header-wrapper nav ul a:nth-child(10) {
    display: block;
  }
  header .header-wrapper nav ul a:nth-child(11) {
    display: block;
  }
  header .header-wrapper nav ul a li {
    color: white;
  }
  header .header-wrapper nav ul .buttons {
    flex-direction: column;
    align-items: center;
    display: none;
  }
  header .header-wrapper nav ul.active {
    transform: translateX(0%);
    transition: transform 500ms ease;
  }
  header .header-wrapper nav ul a:has(button) {
    min-width: 250px;
  }
  header .header-wrapper nav ul a:has(button) button {
    width: 100%;
    display: block;
  }
  header .header-wrapper nav ul li {
    font-size: 24px;
  }
  header .header-wrapper nav img:not(.cross) {
    display: block;
    cursor: pointer;
  }
  header .header-wrapper nav .cross {
    position: absolute;
    display: block;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
  }
}

.pencil {
  opacity: 0.075;
  position: absolute;
  width: 60%;
  left: 0;
  bottom: 0;
  z-index: -1;
}

html,
body {
  overflow-x: hidden;
}

main .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-block: 12rem 14rem;
}
main .wrapper img {
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.1;
  -o-object-fit: fill;
     object-fit: fill;
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span.not-gold {
  color: black !important;
  font-family: "Helvetica Neue", sans-serif !important;
  font-size: 48px;
}

button {
  color: black;
}/*# sourceMappingURL=style.css.map */