@use "./variables";

button {
    display:flex;
    align-items: center;
    color:white;
    font-size:variables.$text;
    font-weight:500;
    cursor:pointer;
    border:none;
    background-color:transparent;


    svg {
        margin-inline-end:-0.25rem;
        width:32px;
    }
}