@use "./variables";

.faith-quote {
    background-image:url(../public/images/faith-quote-background-cemetary.png);
    background-size:cover;
    .wrapper {
        padding-block:8rem 26rem;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:2rem;

        h2 {
            color:white;
            text-align:center;
            max-width:18ch;
        }
    }
}