@use "./variables";

h1 {
    font-size:clamp(variables.$mobile-h1,6.5vw,variables.$h1);
    line-height:1.2;
    color:white;
    font-weight:400;
}

h2 {
    font-size:variables.$h2;
    line-height:1.2;
    color:variables.$blue;
    font-weight:400;
}
h3 {
    font-size:variables.$h3;
    line-height:1.2;
    color:variables.$blue;
    font-weight:400;
}
p {
    font-size:variables.$text;
    line-height:1.6;
    font-weight:200 !important;
}