@use './variables';

@font-face {
    font-family: boost;
    src: url('../Golden Hopes.otf');
}

h1 {
    font-size: variables.$h1;
    line-height: variables.$h1 * 1.1;
    color: white;
    font-weight: 400;

    span {
        font-family: boost;
        font-size: 180px;
        vertical-align: bottom;
        width: max-content;
        color: variables.$gold;
    }
    @media (max-width: 800px) {
        font-size: variables.$mobile-h1;
        line-height: variables.$mobile-h1 * 1.1;
        max-width: 14ch !important;
        span {
            font-size: 120px;
            margin-inline: 0.25rem;
        }
    }
    @media (max-width: 550px) {
        font-size: 40px;
        line-height: 40px * 1.1;

        span {
            font-size: 80px;
        }
    }
}

h2 {
    font-size: variables.$h2;
    line-height: variables.$h2 * 1.3 !important;
    color: variables.$blue;
    font-weight: 400;

    span {
        font-family: boost;
        font-size: 70px;
        vertical-align: bottom;
        color: variables.$gold;
        float: center;
    }

    @media (max-width: 800px) {
        font-size: variables.$mobile-h2;
        line-height: variables.$mobile-h2 * 1.4 !important;

        span {
            font-size: 55px;
            margin-inline: 0.25rem;
        }
    }
}
h3 {
    font-size: variables.$h3;
    line-height: variables.$h3 * 1.2;
    color: variables.$blue;
    font-weight: 400;

    span {
        font-family: boost;
        font-size: 60px;
        vertical-align: bottom;
        color: variables.$gold;
    }
    @media (max-width: 800px) {
        font-size: variables.$mobile-h3;
        line-height: variables.$mobile-h3 * 1.3;

        span {
            font-size: 50px;
            margin-inline: 0.25rem;
        }
    }
}
p {
    font-size: variables.$text;
    line-height: 1.6;
    font-weight: 200;
}
