@use "./variables";

.history-section {
    .wrapper {
        display:grid;
        grid-template-columns: 2fr 1.5fr;
        gap:6rem;

        .history-left {
            display:flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap:4rem;
            h2 {
                max-width:20ch;
            }
            .history-content {
                display:flex;
                align-items: center;
                gap:4rem;

                .history-text {
                    p {
                        max-width:32ch;
                        margin-block:0rem 2rem;
                    }
                    button {
                        color:black;
                    }
                }
            }
        }
        .history-right {
            img {
                height:calc(100% + 16rem);
                width:calc(100% + 4rem);
                object-fit:cover;
                margin-top:-8rem;
                margin-right:-4rem;
            }
        }
    }
}