@use './variables';

main {
	background-image: linear-gradient(to top, #000000cd, #00000000 100%),
		linear-gradient(to bottom, #0000005e, #00000000 50%), url(../public/images/facilities-hero.webp);
	background-size: cover;
	background-position: center;

	@media (max-width: 800px) {
		background-image: linear-gradient(to top, #000000cd, #00000016 100%),
			url(../public/images/facilities-hero.webp);
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		padding-block-end: 2rem;
		height: 95vh;
		max-height: 1000px;

		@media (max-width: 800px) {
			// justify-content: center;
			// align-items: center;
			// height: auto;
			// padding-block: 14rem 22rem;

			h1 {
				// text-align: center;
			}
		}

		h1 {
			max-width: 101%;
			width: 101%;
			transition: clip-path 500ms ease;
		}
	}
}
