@use './variables';

main {
    background-image: linear-gradient(to top, #000000cd, #00000000 100%),
        linear-gradient(to bottom, #0000005e, #00000000 50%),
        url(../public/images/facilities-hero.webp);
    background-size: cover;
    background-position: center;

    @media (max-width: 800px) {
        background-image: linear-gradient(to top, #000000cd, #00000000 100%),
            url(../public/images/facilities-hero.webp);
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding-block-end: 2rem;
        height: 95vh;
        max-height: 1000px;

        h1 {
            max-width: 101%;
            width: 101%;
            transition: clip-path 500ms ease;
        }

        .buttons {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin-block: 2rem 0;
            a {
                &:nth-child(2) {
                    button {
                        background-color: transparent;
                        color: white;
                    }
                }
                button {
                    background-color: white;
                    color: black;
                    border: 1px solid white;
                    padding: 0.75rem 2rem;
                    border-radius: 4rem;
                }
            }
        }
    }
    @media (max-width: 450px) {
        .wrapper {
            .buttons {
                flex-direction: column;
                align-items: flex-start;
                width: 100%;

                a {
                    width: 100%;

                    button {
                        width: 100%;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}
