@use './variables';

.services-section {
    background-color: variables.$gray;
    .wrapper {
        display: flex;
        align-items: stretch;
        justify-content: center;
        gap: 4rem;

        .services-row {
            width: 60%;
            &:nth-child(1) {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 4rem;
                width: 40%;
                h3 {
                    color: white;
                    max-width: 26ch;
                }
                .services-row-list {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 2.5rem;

                    .weekday-list,
                    .sunday-list {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 1.5rem;
                        .services-list-item {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;

                            svg {
                                width: 3rem !important;
                            }

                            .service-list-item-text {
                                width: 100%;
                                p {
                                    color: white;

                                    &:first-child {
                                        font-weight: 400;
                                        font-size: 18px !important;
                                        margin-block-end: 0.5rem;
                                    }
                                }
                            }
                        }
                    }

                    button {
                        margin-block-start: 1rem;
                    }
                }
            }

            &:nth-child(2) {
                background-image: linear-gradient(
                        to bottom,
                        #000000ad,
                        #00000000 25%
                    ),
                    url(../public/pews.webp);
                background-size: cover;
                background-position: center;
                padding: 2rem;
                p {
                    color: white;
                    font-size: variables.$tag;
                }

                h3 {
                    color: white;
                    max-width: 16ch;
                }
            }
        }
        @media (max-width: 900px) {
            flex-direction: column-reverse;
            align-items: flex-start;

            .services-row {
                width: 100% !important;

                &:nth-child(2) {
                    background-image: linear-gradient(
                            to bottom,
                            #000000ad,
                            #00000000 50%
                        ),
                        url(../public/pews.webp);
                    padding-block-end: 20rem;
                    padding-inline: 1rem;
                }
            }
        }
    }
}
