@use "./variables";


.services-section {
    background-color:variables.$gray;
    .wrapper {
        display:flex;
        align-items: center;
        justify-content: center;
        gap:4rem;

        
        
        .services-row {
            width:60%;
            &:nth-child(1) {
                display:flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap:4rem;
                width:40%;
                h3 {
                    color:white;
                    max-width:26ch;
                }
                .services-row-list {
                    display:flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap:2.5rem;
                    .services-list-item {
                        display:flex;
                        align-items: center;
                        gap:0.5rem;

                        p {
                            color:white;
                        }
                        
                    }
                    button {
                        margin-block-start:1rem;
                    }
                }
            }
            
            &:nth-child(2) {
                background-image:linear-gradient(to bottom, #000000ad, #00000000 25%),url(../public/images/big-service-image.png);
                background-size:cover;
                background-position:center;
                padding:2rem;
                padding-block-end:40rem;

                p {
                    color:white;
                    font-size:variables.$tag;
                }

                h3 {
                    color:white;
                    max-width:16ch;
                }
            }
        }
        @media (max-width:450px) {
            flex-direction: column-reverse;
            align-items: flex-start;

            .services-row {
                width:100% !important;

                &:nth-child(2) {
                    background-image:linear-gradient(to bottom, #000000ad, #00000000 50%),url(../public/images/big-service-image.png);
                    padding-block-end:20rem;
                    padding-inline:1rem;
                }
            }
        }
    }
}