@use "./variables";

.welcome-section {
    .wrapper {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:6rem;

        .welcome-top {
            h2 {
                max-width:12ch;
                text-align:center;
                line-height:1;
            }
        }
        .welcome-bottom {
            display:flex;
            align-items: center;
            width:80%;
            gap:8rem;

            .welcome-bottom-right {
                img {
                    border-radius: 240px 240px 0px 0px;
                }
            }
            .welcome-bottom-left {
                h3 {
                    max-width:40ch;
                }
                p {
                    font-weight:700;
                    &:not(:nth-of-type(2)) {
                        max-width:60ch;
                        margin-block:2rem 1.5rem;
                        font-weight:400;   
                    }

                  
                   
                    

                }
            }
        }
    }
}