*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
}

img {
  width: 100%;
}
img.icon {
  width: 2rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

section,
main,
header,
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .wrapper,
main .wrapper,
header .wrapper,
footer .wrapper {
  width: 100%;
  max-width: 1440px;
  padding: 8rem 4rem;
}
section .wrapper.wrapper-narrow,
main .wrapper.wrapper-narrow,
header .wrapper.wrapper-narrow,
footer .wrapper.wrapper-narrow {
  padding: 8rem 8rem;
}
@media (max-width: 700px) {
  section .wrapper,
  main .wrapper,
  header .wrapper,
  footer .wrapper {
    padding-inline: 2rem;
  }
  section .wrapper.wrapper-narrow,
  main .wrapper.wrapper-narrow,
  header .wrapper.wrapper-narrow,
  footer .wrapper.wrapper-narrow {
    padding-inline: 2rem;
  }
}
@media (max-width: 500px) {
  section .wrapper,
  main .wrapper,
  header .wrapper,
  footer .wrapper {
    padding-inline: 1rem;
  }
  section .wrapper.wrapper-narrow,
  main .wrapper.wrapper-narrow,
  header .wrapper.wrapper-narrow,
  footer .wrapper.wrapper-narrow {
    padding-inline: 1rem;
  }
}

h1 {
  font-size: clamp(48px, 6.5vw, 96px);
  line-height: 1.2;
  color: white;
  font-weight: 400;
}

h2 {
  font-size: 48px;
  line-height: 1;
  color: #081841;
  font-weight: 400;
}

h3 {
  font-size: 32px;
  line-height: 1.2;
  color: #081841;
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 200;
}

button {
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
button svg {
  margin-inline-end: -0.25rem;
  width: 32px;
}

header {
  position: absolute;
  background-color: transparent;
}
header .header-wrapper {
  padding: 1.5rem 4rem;
  display: flex;
  width: 100%;
  max-width: 1440px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid white;
}
header .header-wrapper nav ul {
  display: flex;
  align-items: center;
  gap: 4rem;
}
header .header-wrapper nav ul li {
  color: white;
}

main {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8039215686), rgba(0, 0, 0, 0) 100%), url(../public/images/vale-church-hero.png);
  background-size: cover;
  background-position: center;
}
main .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-block-end: 2rem;
  height: 95vh;
  max-height: 1000px;
}
main .wrapper p {
  color: white;
  align-self: flex-end;
  max-width: 52%;
  margin-block-end: -6rem;
}
main .wrapper h1 {
  max-width: 101%;
  width: 101%;
}

.welcome-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}
.welcome-section .wrapper .welcome-top h2 {
  max-width: 12ch;
  text-align: center;
  line-height: 1;
}
.welcome-section .wrapper .welcome-bottom {
  display: flex;
  align-items: center;
  width: 80%;
  gap: 8rem;
}
.welcome-section .wrapper .welcome-bottom .welcome-bottom-right img {
  border-radius: 240px 240px 0px 0px;
}
.welcome-section .wrapper .welcome-bottom .welcome-bottom-left h3 {
  max-width: 40ch;
}
.welcome-section .wrapper .welcome-bottom .welcome-bottom-left p {
  font-weight: 700;
}
.welcome-section .wrapper .welcome-bottom .welcome-bottom-left p:not(:nth-of-type(2)) {
  max-width: 60ch;
  margin-block: 2rem 1.5rem;
  font-weight: 400;
}

.mission-banner {
  background-color: #393939;
  color: white;
}
.mission-banner .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 4rem;
}
.mission-banner .wrapper .mission-item {
  display: flex;
  align-items: center;
  width: 40%;
  gap: 2rem;
}
.mission-banner .wrapper .mission-item h3 {
  color: white;
}
.mission-banner .wrapper .mission-item p {
  margin-block: 1rem;
  max-width: 32ch;
}
.mission-banner .wrapper .mission-item img {
  width: 125px;
}

.faith-quote {
  background-image: url(../public/images/faith-quote-background-cemetary.png);
  background-size: cover;
}
.faith-quote .wrapper {
  padding-block: 8rem 26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.faith-quote .wrapper h2 {
  color: white;
  text-align: center;
  max-width: 18ch;
}

.gray-quote {
  background-color: #393939;
  color: white;
}
.gray-quote .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gray-quote .wrapper p:nth-of-type(1) {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25rem;
  color: #B4780A;
}
.gray-quote .wrapper h2 {
  text-align: center;
  color: white;
  max-width: 30ch;
  margin-block: 0rem 2rem;
  line-height: 1.2;
}

.worship-section .wrapper {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 6rem;
}
.worship-section .wrapper .worship-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
}
.worship-section .wrapper .worship-right .worship-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.worship-section .wrapper .worship-right .worship-content .worship-text p {
  max-width: 32ch;
}
.worship-section .wrapper .worship-right .worship-content .worship-text button {
  color: black;
  margin-block-start: 2rem;
}
.worship-section .wrapper .worship-right .worship-content .worship-content-images {
  display: grid;
  width: 150px;
  gap: 1rem;
}
.worship-section .wrapper .worship-left img {
  height: calc(100% + 16rem);
  width: calc(100% + 4rem);
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: -8rem;
  margin-left: -4rem;
}

.services-section {
  background-color: #393939;
}
.services-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 6rem;
}
.services-section .wrapper .services-row {
  width: 100%;
}
.services-section .wrapper .services-row:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.services-section .wrapper .services-row:nth-child(1) h3 {
  color: white;
  max-width: 26ch;
}
.services-section .wrapper .services-row:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8rem;
}
.services-section .wrapper .services-row:nth-child(2) .services-row-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.services-section .wrapper .services-row:nth-child(2) .services-row-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}
.services-section .wrapper .services-row:nth-child(2) .services-row-list .services-list-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.services-section .wrapper .services-row:nth-child(2) .services-row-list .services-list-item p {
  color: white;
}
.services-section .wrapper .services-row:nth-child(3) {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6784313725), rgba(0, 0, 0, 0) 25%), url(../public/images/big-service-image.png);
  background-size: cover;
  padding: 2rem;
  padding-block-end: 40rem;
}
.services-section .wrapper .services-row:nth-child(3) p {
  color: white;
  font-size: 14px;
}
.services-section .wrapper .services-row:nth-child(3) h3 {
  color: white;
  max-width: 16ch;
}

.history-section .wrapper {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  gap: 6rem;
}
.history-section .wrapper .history-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4rem;
}
.history-section .wrapper .history-left h2 {
  max-width: 20ch;
}
.history-section .wrapper .history-left .history-content {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.history-section .wrapper .history-left .history-content .history-text p {
  max-width: 32ch;
  margin-block: 0rem 2rem;
}
.history-section .wrapper .history-left .history-content .history-text button {
  color: black;
}
.history-section .wrapper .history-right img {
  height: calc(100% + 16rem);
  width: calc(100% + 4rem);
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: -8rem;
  margin-right: -4rem;
}

.column-section:nth-child(odd) .wrapper {
  flex-direction: row-reverse;
}
.column-section .wrapper {
  display: flex;
  align-items: center;
  gap: 6rem;
}
.column-section .wrapper .column-right,
.column-section .wrapper .column-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.column-section .wrapper .column-right h3,
.column-section .wrapper .column-left h3 {
  max-width: 30ch;
}
.column-section .wrapper .column-right > p,
.column-section .wrapper .column-left > p {
  margin-block: 1.5rem 2rem;
  max-width: 60ch;
}
.column-section .wrapper .column-right button,
.column-section .wrapper .column-left button {
  color: black;
}
.column-section .wrapper .column-right .list,
.column-section .wrapper .column-left .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-block: 2rem 3rem;
}
.column-section .wrapper .column-right .list .list-item,
.column-section .wrapper .column-left .list .list-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.column-section .wrapper .column-right .list .list-item p,
.column-section .wrapper .column-left .list .list-item p {
  font-weight: 500;
}
.column-section .wrapper .column-right .list .list-item svg,
.column-section .wrapper .column-left .list .list-item svg {
  width: 32px;
}

.involved-section {
  background-image: url(../public/images/involved-image.png);
  background-size: cover;
}
.involved-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-block: 20rem !important;
}
.involved-section .wrapper h2 {
  color: white;
}
.involved-section .wrapper p {
  color: white;
  max-width: 40ch;
  margin-block: 2rem 3rem;
}/*# sourceMappingURL=style.css.map */